[Unit]
Description=Shutdown running Jackrose session
Conflicts=graphical-session.target
Conflicts=xdg-desktop-autostart.target
After=graphical-session.target
After=xdg-desktop-autostart.target
