JACKROSE_ALARM_BUILDER_DIR=../asahi-alarm-builder
JACKROSE_IMAGE_OUTPUT_DIR=.local/state/jackrose/image-build
JACKROSE_IMAGE_NAME=jackrose-prototype
JACKROSE_IMAGE_PROFILE=developer
JACKROSE_IMAGE_VERSION=0.15.0
